/* CSS Document */
html,body
{
	margin: 0px;
	padding:0px;
}
body
{
	background-color: #8f8e8e;
}
body, td, p
{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
img
{
border: 0px;
}
a
{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
color: #666666;
text-decoration: none;
}
.error
{
color:red;
}
.topBanner
{
	height: 37px;
	background-color: white;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 700;
	color: #666666;
}
.topBanner td
{
	font-size: 16px;
	font-weight: 700;
	color: #666666;
}
.menuCat
{
	background-color: #abaaaa;
	height: 18px;
	text-transform: uppercase;
	color:white;
	text-align:left;
	font-size: 11px;
	font-weight: 700;
	padding: 2px;
}
.menuFile
{
	color:white;
}
.mainHolder
{
	background-color: #eeeeee;
	padding: 10px;
}
.mainHolderHeader
{
	background-color: white;
	height: 30px;
	color: #666666;
	font-size: 14px;
	font-weight: 700;
	padding: 6px;
}
.mainHolderFooter
{
	background-color: #cccccc;
	height: 20px;
	color: #666666;
	font-size: 14px;
	font-weight: 700;
	padding: 0px;
}